.THIS.tile {
  position:relative;
  display: inline-block;
  width: 212px;
  height: 270px;
  padding: 1px !important;
}

.THIS.tile.selected {
  border: 3px solid rgb(0, 112, 210);
}

.THIS.tile .innertile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.THIS.tile .lower-third {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .4);
  padding: 6px 8px;
}

.THIS .inFrame{
    border-radius: 0px 0px 0 0;
        margin: -16px 0px 20px -16px;
        height: 400px;
        width: 103%;
}

.THIS .headerHeader{
    padding:0;
    border-radius: 10px 10px 0 0;
}
.THIS .movieTitle{
    font-size:32px;
    margin-bottom:10px;
}

.THIS .tileClass{
    text-align:center;
    margin-bottom:10px;
}